Latihan {{title}}

<br/><br/><br/>
Render Data Tipe: List String
<ul>
{% for nama_program in bahasa_program %}
    <li>{{nama_program}}</li>
{% endfor %}
</ul>


<br/>
<br/><br/>
Render Data Tipe: List Dictionary
<ul>
{% for hp in list_hp %}
    <li>{{hp.nama}} (ID: {{hp.id}})</li>
{% endfor %}
</ul>


<br/>

<a href="{% url 'home' %}">Kembali ke menu utama</a>
